h2,p{
	margin: 0;
	padding: 0;
}

body{
	font-family: 'Open Sans';
	width: 1024px;
	margin: 0 auto;
}

.content{
	/* text-align: center; */
	margin: 23px 25px 28px 25px;
}

h2{
	font-family: 'KingsBureauGrot';
	font-weight: 700;
	font-size: 20px;
	line-height: 25px;
	letter-spacing: 0.25px;
}

p{
	font-size: 14px;
	line-height: 24px;
	letter-spacing: -0.025em;
	color: #333333;
}

.title-block1{
	margin-bottom: 18px;
}

.text-block1{
	margin: 6px 0 24px 0;
}

.text-block2{
	text-align: center;
}

.text-right{
	text-align: right;
	margin-top: 23px;
}

.text-block3{
	text-align: center;
	margin: 5px 0 46px 0;
}

.text-centr{
	text-align: center;
}

.img-small{
	width: 731px;
	display: block;
	margin: 0 auto;
}

.title-block5{
	margin: 33px 0 7px 0;
}

.scroll-bloc{
	width: 1453;
}

.text-scroll{
margin: 6px 0 32px 0;
}

.title-scr{
	margin-bottom: 18px;
}

.scr{
	border: 1px solid #8B9296;
}

.title-avatar{
	text-align: center;
	margin: 56px 0 18px 0;
}

.avatar{
	text-align: center;

}